@model ChapterPageModel
@{
    ViewData["Title"] = Model.SafeName();
}
<div class="container-fluid">
    <div class="card card-cascade wider reverse my-4 text-center">
        <img src="../inc/@(Model.Series.ToLower()).png" class="img-fluid card-img-top rounded" alt="">
        <div class="card-body text-center">
            <h4 class="card-title">
                <strong>@Model.SafeName()</strong>
            </h4>
            <p class="card-text">
                @Model.GetDescription()
            </p>
            @foreach (var tag in Model.GetTags())
            {
                <div class="chip">
                    @tag
                </div>
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12" align="center">
            <script>
                if (window.canRunAds === undefined) {
                    document.write('<div class="card card-body">' +
                        '<h6 class="card-title">Manhwa.co is supported by ads and <a href="https://patreon.com/Manhwa" target="_blank">Patreon</a>. ' +
                        'Please consider whitelisting us,<br/>or possibly supporting us via <a href="https://patreon.com/Manhwa" target="_blank">Patreon</a> ' +
                        'so we can continue to bring you great content!</h6>' +
                        '</div>');
                }
            </script>
            <script type="text/javascript">
                var ad_idzone = "2888154",
                    ad_width = "728",
                    ad_height = "90";
            </script>
            <script type="text/javascript" src="https://ads.exosrv.com/ads.js"></script>
            <noscript><a href="https://main.exosrv.com/img-click.php?idzone=2888154" target="_blank"><img src="https://syndication.exosrv.com/ads-iframe-display.php?idzone=2888154&output=img&type=728x90" width="728" height="90"></a></noscript>
        </div>
    </div>
    <div class="row" style="margin-bottom: 25px">
        <div class="col-12">
            <div class="list-group spacer">
                @if (Model.GetChaptersCount() != 0)
                {
                    for (var chapterNumberIndex = Model.GetChaptersCount(); chapterNumberIndex >= 1; chapterNumberIndex--)
                    {
                        <a href="/@Model.SafeName().Replace(" ", "-").Replace("'", "")/@(chapterNumberIndex)" class="list-group-item d-flex justify-content-between align-items-center indigo-text">
                            Chapter @(chapterNumberIndex)
                            <span class="badge indigo">@Model.GetDate(chapterNumberIndex)</span>
                        </a>
                    }
                }
                @if (Model.HasPrologue())
                {
                    <a href="/@Model.SafeName().Replace(" ", "-").Replace("'", "")/0" class="list-group-item d-flex justify-content-between align-items-center indigo-text">
                        Prologue
                        <span class="badge indigo">@Model.GetDate(0)</span>
                    </a>
                }
            </div>
        </div>
    </div>
</div>