@model ChapterPageModel
@{
    ViewData["Title"] = Model.SafeName();
}
<div class="container-fluid">
    <div class="card card-cascade wider reverse my-4 text-center">
        <img src="../inc/@(Model.Series.ToLower()).png" class="img-fluid card-img-top rounded" alt="">
        <div class="card-body text-center">
            <h4 class="card-title">
                <strong>@Model.SafeName()</strong>
            </h4>
            <p class="card-text">
                @Model.GetDescription()
            </p>
            @foreach (var tag in Model.GetTags())
            {
                <div class="chip">
                    @tag
                </div>
            }
        </div>
    </div>
    <div class="row" style="margin-bottom: 25px">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="list-group spacer">
                @if (Model.GetChaptersCount() != 0)
                {
                    for (var chapterNumberIndex = Model.GetChaptersCount(); chapterNumberIndex >= 1; chapterNumberIndex--)
                    {
                        <a href="/@Model.SafeName().Replace(" ", "-").Replace("'", "")/@(chapterNumberIndex)" class="list-group-item d-flex justify-content-between align-items-center indigo-text">
                            Chapter @(chapterNumberIndex)
                            <span class="badge indigo">@Model.GetDate(chapterNumberIndex)</span>
                        </a>
                    }
                }
                @if (Model.HasPrologue())
                {
                    <a href="/@Model.SafeName().Replace(" ", "-").Replace("'", "")/0" class="list-group-item d-flex justify-content-between align-items-center indigo-text">
                        Prologue
                        <span class="badge indigo">@Model.GetDate(0)</span>
                    </a>
                }
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>